/* Google font*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Variables */

:root {
  --main-color: #e22a45;
  --text-color: black;
  --bg-color: white;
}

section {
  padding: 4rem 0 4rem;
}

img {
  width: 100%;
}
body {
  color: var(--text-color);
}

.container {
  max-width: 1068;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
  display: none;
}

.new ul,
.new li{
  margin: 0;
  padding: 0;
} 

.new ul{
  list-style: none;
  width: 100%;
}

.new li{
  float: left;
  position: relative;
  width: auto;
}

.new a{
  /*background: var(--bg-color);*/
  color: var(--main-color);
  display: block;
  font-weight: bold;
  font-size: 13px;
  font-family: 'poppins', sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease;
}

#submenu{
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  background-color: var(--main-color);
  z-index: 1;
  transition: 0.7s;
  
}

li:hover ul#submenu{
  opacity: 1;
  top:50px;
  display: block;
  color: var(--main-color);
  background-color: var(--bg-color);
  visibility: visible;
  width: 130px;
}

#submenu li{
  float: none;
  width: 100%;
}

#submenu a{
  background-color: #ffffff;
}

/* .submenu1{
  left: 0;
  opacity: 0;
  position: absolute;
  top: 30px;
  z-index: 1;
  visibility: hidden;
  transition: all ease 1s;
}

.submenu1 li{
  float: none;
  width: 100%;
}
li:hover ul .submenu1{
  opacity: 1;
  top:50px;
  position: absolute;
  visibility: visible;
}
.submenu1 a:hover{
  background: var(--bg-color);
} */

.d1{
  display: none;
  padding: 5px;
  width: 47px;
}
.new ul li:hover .d1 {
  display: block;
  position: absolute;
  top: 0;
  left: 135px;
  background-color: var(--bg-color);
  transition: all ease 1s;
  width: 65px;
}
.d2{
  display: none;
}

.new ul li:hover .d2 {
  display: block;
  position: absolute;
  top: -5px;
  left: 70px;
  background-color: var(--main-color);
  transition: all ease 1s;
}

/* #submenu2{
  left: 0;
  opacity: 0;
  position: absolute;
  top: 20px;
  visibility: hidden;
  z-index: 1;
}

li:hover ul#submenu2{
  opacity: 1;
  top:40px;
  position: absolute;
  visibility: visible;
}

#submenu2 li{
  float: none;
  width: 100%;
}

 #submenu a{
  background-color: #fff;
} 
#submenu2 a:hover{
  background: var(--bg-color);
} */

.r1{
  float: right;
  margin-left: 10px;
  padding-top: 2px;
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-color);
}

.logo span {
  color: var(--main-color);
  text-decoration: none;
}

.logo span:hover {
  color: var(--text-color);
  text-decoration: none;
}


.navbar {
  background-color:var(--bg-color);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  0 5%;
}

.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a:hover,
.navbar .active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
#search-icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
}

.search-box {
  position: absolute;
  top: 110%;
  right: 0;
  left: 0;
  background: var(--bg-color);
  box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
  border: 1px solid var(--main-color);
  border-radius: 0.5rem;
  clip-path: circle(0% at 100% 0%);
}
.search-box.active {
  clip-path: circle(144% at 100% 0%);
  transition: 0.4s;
}
.search-box input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}
.home {
  max-width: 1300px;
  margin: auto;
  width: auto;
  min-height: 640px;
  display: flex;
  align-items: center;
  background: url(img/a8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.home-text {
  padding-left: 130px;
}

.home.text h1 {
  font-size: 2.4rem;
}

.home-text span {
  color: var(--main-color);
}

.home-text p {
  font-size: 0.938rem;
  font-weight: 300;
  margin: 0.5rem 0 1, 3rem;
  padding-bottom: 15px;
}
.btn {
  padding: 5px 20px;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
}
.btn:hover {
  background: red;
}
.heading {
  text-align: center;
}

.heading span {
  font-weight: 500;
  color: var(--main-color);
}

.heading p {
  font-size: 0.938rem;
  font-weight: 300;
}
.cars-container {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.cars-container .box {
  flex: 1 1 20rem;
  position: relative;
  height: 250px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.cars-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.cars-container .box img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.cars-container .box h2 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: 400;
  font-size: 1rem;
  background: var(--bg-color);
  padding: 8px;
  border-radius: 0.5rem;
}

.cars-container .box h2:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

/* Planning section */
.planning {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.planning-img {
  margin-left: 20px;
  flex: 1 1 21rem;
}
.planning-text {
  flex: 1 1 21rem;
}

.planning-text span {
  font-weight: 500;
  color: var(--main-color);
}
.planning-text h2 {
  font-size: 1.7rem;
}
.planning-text h3 {
  font-size: 1.5rem;
}

.planning-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.4rem;
}

/* Manufacturing section */

.Manufacturing-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.Manufacturing-container .box {
  flex: 1 1 20rem;
  position: relative;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  border-radius: 0.5rem;
}
.Manufacturing-container .box img {
  width: 100%;
  height: 200px;
  object-fit:cover;
  object-position: center; 
  margin-bottom: 1rem;
}
.Manufacturing-container .box img :hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.Manufacturing-container .box h3 {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

.Manufacturing-container .box .details {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  font-size: 1rem;
  color: var(--text-color);
}

.Manufacturing-container .box .details:hover {
  color: var(--main-color)
  text-decoration: underline;
}

/* Designing section */

.Designing {
  min-height: 7vh;
  padding: 10px 30px;
}
.Designing .container .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  height: 300px;
  background: url(img/a4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
.Designing .container .row::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(115, 106, 106, 0.7);
  z-index: -1;
}

.Designing .container p {
  text-align: center;
}
.Designing .container h3 {
  text-align: center;
}

/* footer section */
footer{
  background: black;
  color: white;
  padding: 5px 15px; 
  
}
.center{
  text-align: center;
}

/* Making Responsive */

@media (max-width:1000px){

  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
}

@media (max-width:991px) {
  .nav{
    padding: 15px 20px;
  }
  section{
    padding: 3rem 0 1 rem;
  }
  .home-text{
    padding-left: 2rem;
  }
  .home-text h1{
    font-size: 2.1rem;
  }
}
@media (max-width:920px) {
  #search-icon{
    color: var(--text-color);
  }
}

@media (max-width:768px) {
  .search-box input{
    padding: 15px;
  }
  .nav{
    padding: 10px 0;
  }
  #menu-icon{
    display: initial;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color) ;
    row-gap: 0.5rem;
    text-align: center;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
    clip-path: circle(0% at 0% 0%);
    transition: 0.6s;
  }

  .navbar a{
    display: block;
    padding: 15px;
  }
  .navbar a:hover,
  .navbar .active{
    border-bottom: none;
    background: var(--main-color) ;
    color: var(--bg-color);
  }

  .navbar .active{
    clip-path: circle(144% at 0% 0%);
  }

  .blog-container .box{
    padding: 4px;
  }
}

@media (max-width:727px) {
  .heading span{
    font-size: 0.9rem;
  }
  .heading h2{
    font-size: 1.4rem;
  }
  .about{
    flex-direction: column-reverse;
  }
  .about-text{
    text-align: center;
  }
  .about-text h2{
    font-size: 1.4rem;
  }
}

@media (max-width:607px) {
  .footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

@media (max-width:360px) {
  .search-box input{
    padding: 11px;
  }
  .home{
    min-height: 500;
  }
  .home-text h1{
    font-size: 2rem;
  }
  .home-text p br{
    display: content;
  }
}